body {
  background-image: url('../src/images/codioful-formerly-gradienta-G084bO4wGDA-unsplash.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
  /* Modern, web-friendly font */
  font-size: larger;
  line-height: 1.7;
  padding: 20px;
  color: #E8E9EB;
}

ul {
  list-style-type: none;
}


/* Button styles */
.explore-btn {
  display: inline-block;
  background-color: cornflowerblue;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 5px;
  cursor: pointer;
}

.explore-btn:hover {
  background-color: #45a049;
}
h1,
h2,
h3 {
    color: #FED766;
    /* Use a standout color for headings */
}

a,
.explore-btn {
    color: whitesmoke;
    /* Bright color for links and buttons */
    transition: color 0.3s ease;
    /* Smooth transition for hover effects */
}

a:hover,
.explore-btn:hover {
    color: #2ab7ca;
    /* Color change for hover states */
}

h1,
h2,
h3 {
    font-family: 'Montserrat', sans-serif;
    /* Distinct font for headings */
    margin-bottom: 0.5em;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

p {
    margin-bottom: 1em;
    /* Add space after paragraphs */
}

.container {
    padding: 2em;
    /* Space around the inside of the container */
}

/* Add space around sections */
.introduction,
.nft-benefits,
.explore-token,
.tokenomics {
    margin-bottom: 2em;
}

/* Center-align the content for a cleaner look */
.content {
    max-width: 800px;
    /* Prevent lines of text from becoming too long */
    margin: auto;
    /* Center the content */
}

.explore-btn {
    transition: background-color 0.3s ease, transform 0.3s ease;
    /* Add a 'transform' transition */
}

.explore-btn:hover {
    transform: scale(1.1);
    /* Slightly increase size on hover */
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fade-in {
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    opacity: 0;
    /* make element transparent until animation plays */
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.slide-in {
    animation-name: slideInFromLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
    /* apply the final state after animation ends */
}

/* Style the tabs */
/* Style the tabs */
.tab {
    display: flex;
    /* this makes the container adjust to the width of its children */
    justify-content: start;
    /* this aligns the tabs to the start of the container */
    border-bottom: 1px solid #ccc;
    /* Adjust if you prefer no border around the entire tab set or change to border-top if you want the line above the tabs */
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    /* Transparent background */
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: chocolate;
    font-size: larger;
    font-weight: bolder;
    /* any color you prefer for the text */
    flex-grow: 1;
    /* this makes the buttons expand to take up equal space within the container */
}


/* Change background color of buttons on hover */
.tab button:hover {
    background-color: inherit;
    /* Light grey background on hover */
}

nav {
  padding: 2px;
  color: #FED766;
  text-decoration: underline;
  margin: 2px;
}

/* Create an active/current tablink class */
.tab button.active {
    border-top: 3px solid blue;
    border-left: 3px solid blue;
    border-right: 3px solid blue;
    /* Blue border on the left side for the active tab */
}

/* Style the tab content */
.tabcontent {
    /* display: none; */
    /* Hidden by default */
    padding: 12px 12px;
    border-top: none;
}


/* Desktop-specific styles */
@media screen and (min-width: 769px) {
    body {
        background-attachment: fixed;
        /* fixed background on desktop */
    }
}

/* Responsiveness */
@media (max-width: 768px) {
    .container {
        width: 95%;
    }

    header,
    main,
    footer {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 768px) {
    /* Adjust tab container for mobile view */
    .tab {
        flex-direction: column;
    }

    /* Make tabs and buttons larger for easier touch */
    .tablinks {
        padding: 15px 25px; /* Larger touch area */
        font-size: 18px; /* Larger text */
        margin-bottom: 5px; /* Space between stacked tabs */
        width: 100%; /* Make tabs full-width */
        text-align: center; /* Center the label */
    }

    /* Adjust layout and sizing for the tab content for better readability on small screens */
    .tabcontent {
        margin-top: 20px; /* More space between tabs and content */
        padding: 25px; /* More space inside */
    }

    /* Additional adjustments for better mobile experience */
    body, h1, h2, h3, p, .content {
        font-size: larger; /* Increase font size for readability */
    }

    .container {
        padding: 10px; /* Space on the sides */
    }
}

/* Existing CSS for reference */
.container {
    width: 80%; /* This is currently reducing the width on all screens */
    margin: auto;
}

/* Add a media query for smaller screens */
@media (max-width: 768px) {
    .container {
        width: 95%; /* Allow the content to take more width on smaller screens */
    }

    /* If you have specific padding or margins reducing space, adjust them here */
    .tabcontent {
        padding: 10px; /* Reduce padding */
        margin: 0; /* Reduce margin if necessary */
    }
    .content {
        padding: 0px;
        border-radius: 5px;
        margin-bottom: 0px;
        background-color: rgba(0, 0, 0, 0.5);
        /* semi-transparent background for contrast */
    }
}




.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

button.Wallet-connect {
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  color: #000;
  background: #fff;
  line-height: 30px;
  border-radius: 40px;
  padding: 20px;
  font-size: 30px;
  font-weight: 600;
  box-shadow: rgb(255, 198, 0) -2px -2px 0px 2px, rgb(246, 84, 174) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
  transition: all 0.2s;

  :hover {
    box-shadow: rgb(246, 84, 174) -2px -2px 0px 2px, rgb(255, 198, 0) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
    transform: scale(1.01);
  }

}